<%- include('header') -%>
<h1>Viðburða umsjón</h1>
<form method="post" action="/admin" enctype="application/x-www-form-urlencoded" class="form form--separated">

  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn*</label>
    <input type="text" name="name" id="name" value="<%= data.name %>" class="">
  </div>

  <div class="field field--textarea<%= locals.isInvalid('description', errors) ?  ' field--invalid' : '' %>">
    <label for="description">Lýsing:</label>
    <textarea name="description" id="description"><%= data.description %></textarea>
  </div>

  <% if (errors.length > 0) { %>
  <h2 class="errors_title">Villur við skráningu:</h2>
  <ul class="errors">
    <% errors.forEach((error) => { %>
    <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>

    <% }); %>
  </ul>
  <% } %>


  <button class="button button--large button--margin">Breyta atburði</button>
</form>
<div>
  <p>Innskráður sem <span>admin</span></p>
  <a href="/">Útskrá</a>
</div>
<%- include('footer') -%>
