<%- include('header') -%>
<form method="post" action="/events/post" enctype="application/x-www-form-urlencoded" class="form form--separated">

  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn*</label>
    <input type="text" name="name" id="name" value="<%= data.name %>" class="">
  </div>

  <div class="field field--textarea<%= locals.isInvalid('description', errors) ?  ' field--invalid' : '' %>">
    <label for="description">Lýsing:</label>
    <textarea name="description" id="description"><%= data.description %></textarea>
  </div>

  <% if (errors.length > 0) { %>
  <h2 class="errors_title">Villur við skráningu:</h2>
  <ul class="errors">console.log(req.)

    <% errors.forEach((error) => { %>
    <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>

    <% }); %>
  </ul>
  <% } else { %>
    <P>Notandi er Skráður</P>
  <% } %>

  <button class="button button--large button--margin">Skrá á Atburð</button>
</form>
<%- include('footer') -%>
