<%- include('header') -%>
<div>
  <h1><%= event.name %></h1>
  <p><%= event.description%></p>
</div>
<div>
  <h2>Skráningar á viðburð</h2>
  <% if (registrations.length === 0) { %>
    <p>Enginn hefur skráð sig á þennan viðburð</p>
    <% } else { %>
    <ul>
      <% registrations.forEach((registration) => { %>
      <li>
        <p><%= registration.name %></p>
        <p><%= registration.comment %></p></li>
      <% }) %>
    </ul>
    <% } %>
</div>
<div>
  <h2>Skráðu þig</h2>

  <form method="post" action="/<%=event.slug%>/post" enctype="application/x-www-form-urlencoded" class="form form--separated">

    <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
      <label for="name">Nafn*</label>
      <input type="text" name="name" id="name" value="<%= data.name %>" class="">
    </div>

    <div class="field field--textarea<%= locals.isInvalid('comment', errors) ?  ' field--invalid' : '' %>">
      <label for="comment">Lýsing:</label>
      <textarea name="comment" id="comment"><%= data.comment %></textarea>
    </div>

    <% if (errors.length > 0) { %>
    <h2 class="errors_title">Villur við skráningu:</h2>
    <ul class="errors">
      <% errors.forEach((error) => { %>
      <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>

      <% }); %>
    </ul>
    <% } %>

    <button class="button button--large button--margin">Skrá mig</button>
  </form>
</div>

<div>
  <p><a href="/">Til baka</a></p>
</div>
<%- include('footer') -%>
