<%- include('header') -%>

<h1><%= title %></h1>
<% if (events.length === 0) { %>
  <p>Engin event!</p>
<% } else { %>
  <ul>
    <% events.forEach((event) => { %>
      <li>
        <a href="/event/<%= event.slug %>"><%= event.name %></a>
        <p><%= event.description %></p>
      </li>
    <% }) %>
  </ul>
<% } %>
<div>
  <a href="/admin/login">Innskráining stjórnanda</a>
</div>

<%- include('footer') -%>
